<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.note"  />


    <dubbo:application name="fiction-service" />
    <dubbo:registry address="multicast://224.5.6.7:1234" />
    <dubbo:protocol name="dubbo" port="20880" />
    <dubbo:provider timeout="3000" />
    <dubbo:service interface="com.note.provider.fiction.api.FictionApiService" ref="fiction.service.fictionServiceProxy">
        <dubbo:method name="search" retries="3" />
        <dubbo:method name="searchFull" retries="3" />
        <dubbo:method name="searchRankList" retries="3" />
        <dubbo:method name="findFictionInfo" retries="3" />
        <dubbo:method name="selectFictionChapters" retries="3" />
        <dubbo:method name="findChapterInfo" retries="3" />
        <dubbo:method name="searchNewList" retries="3" />
    </dubbo:service>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/fiction?useSSL=true" />
        <property name="username" value="note" />
        <property name="password" value="note" />
        <property name="initialSize" value="2" />
        <property name="maxActive" value="10" />
    </bean>

    <!--<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />-->

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" >
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath*:com/note/provider/fiction/dao/map/*.xml" />
        <property name="configLocation" value="classpath:mybatis-config.xml" />
    </bean>




</beans>